.logincontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body{
    background-image: linear-gradient(#eaac8b,#b56576);
    margin: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box{
    background-color: grey;
    border-radius: 30px;
}
img {
    border-radius: 10px;

    width: 49vw;
    height: auto;
}

.login-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 92vh;
    background:
    radial-gradient(circle 80px at 70% 30%, rgba(246, 178, 255, 0.525),rgba(255,255,255,0)),
    radial-gradient(circle 100px at 40% 60%, rgb(196, 111, 246),rgba(255,255,255,0));

}

form{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

input{
    height: 45px;
    width: 380px;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    padding-left: 10px ;
    
}



.login{

    height: 45px;
    width: 380px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 25px;
    background-color: #111631;
    color: white;
}
p{
    color: white;
    font-family:sans-serif;
}
.icon{
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 5px ;
}
h1{
    margin-bottom: 25px;
    padding: 0;
    color: aliceblue;
    font-family: raleway;
}
hr{
    width: 380px;
}

input[type="date"] {
    background-color: #111631;
}