body{
    
    background-image: linear-gradient(#eaac8b,#b56576);
    padding: 0;
    margin: 0;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

.elements-container{
    display: grid;
    grid-template-columns: 22vw 19vw 19vw 19vw 19vw;
    grid-gap: 5px;
    grid-template-rows: 19vh 19vh 19vh 19vh 19vh;
    background: radial-gradient(circle 200px at 40% 60%, #f19fa2,rgba(255,255,255,0)),
                radial-gradient(circle 150px at 10% 90%, #f19fa2,rgba(255,255,255,0)),
                radial-gradient(circle 300px at 60% 80%, #f19fa2,rgba(255,255,255,0)),
                radial-gradient(circle 100px at 30% 100%,#f19fa2,rgba(255,255,255,0)),
                radial-gradient(circle 200px at 80% 10%, #f19fa2,rgba(255,255,255,0)),
                radial-gradient(circle 100px at 70% 20%, #f19fa2,rgba(255,255,255,0)),
                radial-gradient(circle 400px at 90% 50%, #f19fa2,rgba(255,255,255,0)),
                radial-gradient(circle 350px at 10% 20%, #f19fa2,rgba(255,255,255,0)),
                radial-gradient(circle 100px at 30% 40%, #f19fa2,rgba(255,255,255,0));
}

.elements {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.element1{
    grid-area: 1/1/6/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.element2{
    grid-area: 1/2/4/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element3{
    grid-area: 1/4/4/6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element4 {
    grid-area: 4/2/6/6;
}

.room {
    border-radius: 10px;
}

.room-button {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}
.house{
    font-size: 70px;
}

.user-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
}
.image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
} 


.logout {
    margin: 247px;
    background-color: white;
    color: black;
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 30px;
}

#form {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    background-color: white;
    color: black;
    font-family: poppins;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
}

input {
    background-color: white;
    color: black;
    font-family: poppins;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
}